*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  padding-left: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leftbg {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  left: 0;
  background-color: white;
}

.rightbg {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  right: 0;
  background-image: url("https://cdn.discordapp.com/attachments/850757783644274719/895991283074625536/background.png");
}

.onleftbg {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 100%;
  text-align: left;
}

.left {
  text-align: left;
  padding-left: 3%;
}

.left img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.centered {
  position: absolute;
  top: 5%;
  text-align: center;
}

.done {
  border: none;
  background-color: #2D4863;
  width: 70%;
  height: 40px;
  border-radius: 12px;
  color: white;
  text-align: center;
  transition-duration: 0.2s;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.done:hover {
  background-color: #d5e6f7;
  color: #2D4863
}

.choice {
  border: none;
  border-radius: 8px;
  text-align: left;
  background-color: white;
  transition-duration: 0.2s;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.choice:hover {
  background-color: #E5E5E5;
}

h3 {
  text-align: left;
  font-size: 26px;
  margin: 0;
}